﻿@model PetDesk.Application.ViewModels.AppointmentListViewModel

@{
    ViewBag.Title = "PetDesk Appointemnets.";
}
@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    <div style="margin-top:20px;">
        <div class="alert alert-primary" role="alert">
            @ViewBag.Message
        </div>
    </div>
}

    <div class="">
        <h2 class="text-center">Confirmed Appointments</h2>
        <hr />
        <p class="lead">
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item">
                    <a class="nav-link " href='@Url.Action("RequestedList")'>Requested</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Confirmed</a>
                </li>
            </ul>
        </p>
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Client</td>
                    <td>Pet Name</td>
                    <td>Pet Type</td>
                    <td>Pet Breed</td>
                    <td>Type</td>
                    <td>Requested Date</td>
                    <td>Requested Time</td>

                </tr>
            </thead>
            @foreach (var appointment in Model.Appointments)
        {
            var specialClass = appointment.HasDuplicate ? "table-danger" : "";

            <tr class='@specialClass'>
                <td class='@specialClass'>@appointment.Id</td>
                <td class='@specialClass'>@appointment.User.FullName</td>
                <td class='@specialClass'>@appointment.Animal.FirstName</td>
                <td class='@specialClass'>@appointment.Animal.Species  </td>
                <td class='@specialClass'>@appointment.Animal.Breed</td>
                <td class='@specialClass'>@appointment.AppointmentType</td>
                <td class='@specialClass'>@appointment.RequestedDateTime.ToLongDateString()</td>
                <td class='@specialClass'>@appointment.RequestedDateTime.ToShortTimeString()</td>

            </tr>
    }
        </table>




    </div>

