﻿@model PetDesk.Application.ViewModels.AppointmentListViewModel

@{
    ViewBag.Title = "PetDesk Appointemnets.";
}
@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    <div style="margin-top:20px;">
        <div class="alert alert-primary" role="alert">
            @ViewBag.Message
        </div>
    </div>
}

    <div class="">
        <h2 class="text-center">Requested Appointments</h2>
        <hr />
        <p class="lead">

            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Requested</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href='@Url.Action("ConfirmedList")'>Confirmed</a>
                </li>
            </ul>
        </p>


        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Client</td>
                    <td>Pet Name</td>
                    <td>Pet Type</td>
                    <td>Pet Breed</td>
                    <td>Type</td>
                    <td>Requested Date</td>
                    <td>Requested Time</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            @foreach (var appointment in Model.Appointments)
        {
            var specialClass = appointment.HasDuplicate ? "table-danger" : "";

            <tr class='@specialClass'>
                <td class='@specialClass'>@appointment.Id</td>
                <td class='@specialClass'>@appointment.User.FullName</td>
                <td class='@specialClass'>@appointment.Animal.FirstName</td>
                <td class='@specialClass'>@appointment.Animal.Species  </td>
                <td class='@specialClass'>@appointment.Animal.Breed</td>
                <td class='@specialClass'>@appointment.AppointmentType</td>
                <td class='@specialClass'>@appointment.RequestedDateTime.ToLongDateString()</td>
                <td class='@specialClass'>@appointment.RequestedDateTime.ToShortTimeString()</td>
                <td class='@specialClass'></td>
                <td class='@specialClass'><a href="@Url.Action("Reschedule", new { appointment.Id })" class="btn btn-warning btn-lg">Reschedule &raquo;</a>
                                          <span class="small">@appointment.ProposedTimeString</span></td>
                <td class='@specialClass'><a href='@Url.Action("Confirm", new { appointment.Id })' class="btn btn-primary btn-lg" data-toggle="confirmation" data-title="Confirm Appointment?">Confirm &raquo;</a></td>
            </tr>
    }
        </table>

    </div>

@section scripts
{

    <script src="~/Scripts/bootstrap-confirmation.min.js"></script>
    <script type="text/javascript">
        $('[data-toggle=confirmation]').confirmation({
            rootSelector: '[data-toggle=confirmation]',
            // other options
        });
    </script>
   

}