﻿@model PetDesk.Application.ViewModels.EditAppointmentViewModel

@{
    ViewBag.Title = "PetDesk - Reschedule Appointment.";
}
@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    <div style="margin-top:20px;">
        <div class="alert alert-primary" role="alert">
            @ViewBag.Message
        </div>
    </div>
}

@Html.ValidationSummary()

    <div class="">
        <h2 class="text-center">Appointment Reschedule</h2>

        <hr />

        <div class="container">

            @using (Html.BeginForm("Reschedule", "Appointment", FormMethod.Post))
        {
            <div class="form-group row">
                <div class="col-12">
                    <h3>Client Details</h3>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Id, new { @class = "solid" }) :
                        @Html.DisplayFor(x => x.Id)

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.User.FullName) :
                        @Html.DisplayFor(x => x.User.FullName)
                    </div>
                </div>
                <hr />
                <div class="col-12">
                    <h3>Animal Details</h3>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Animal.FirstName) :
                        @Html.DisplayFor(x => x.Animal.FirstName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Animal.Species) :
                        @Html.DisplayFor(x => x.Animal.Species)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Animal.Breed) :
                        @Html.DisplayFor(x => x.Animal.Breed)
                    </div>

                </div>
       
            <hr />
            <div class="col-12">
                <h3>Appointment Details</h3>
                <div class="form-group">
                    @Html.LabelFor(x => x.CreateDateTime) :
                    @Html.DisplayFor(x => x.CreateDateTime)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.RequestedDateTime) :
                    @Html.DisplayFor(x => x.RequestedDateTime)
                </div>
                <div class="form-group">
                    <label for="RequestedDateTime">Propose Time</label> :
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type='text' class="form-control datetimepicker-input" value="@Model.RequestedDateTime.ToString()" name="RequestedDateTime" data-target="#datetimepicker1" />
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-success text-center">Reschedule</button>
                <a href='@Url.Action("RequestedList")' class="btn btn-default">Cancel</a>
            </div>
        </div>
  
}
    </div>



@section scripts
{

    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />


    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
}

@section head{

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

}