﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PetDesk</title>

    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/Site.css" rel="stylesheet">

    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("head", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                
                <a href="/" class="navbar-brand">PetDesk</a>
            </div>
            <div class="navbar-collapse collapse">

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PetDesk</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")

    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
